/target/
*/target/
*/catalina.base_IS_UNDEFINED/
/catalina.base_IS_UNDEFINED/
#idea
.idea/
/idea/
*.ipr
*.iml
*.iws
/${catalina.base}/temp/*
/*/${catalina.base}/*
/bin/
.class
.springBeans
.project
.settings
.classpath
.factorypath
*.js
*.html
*.log
*.log.*
/.settings/*